.box1 {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 80px;
    /* margin makes space in-between boxes*/
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: skyblue;

}
/*borders are all around similar to margins but different m*/
.box2 {
    background-color: rgb(107, 57, 21);
    border-left: 15px solid rgb(176, 108, 59);
    border-bottom: 15px solid rgb(223, 165, 89);
}