.flex-container {
    background-color: lightblue;
    /*display:flex orders every box in one line*/
    display: flex;
    /*'flex-wrap' transfers boxes to next lines if not enough space*/
    /*flex-wrap: wrap;*/
    justify-content: center;
}

.flex-item {
    background-color: mediumseagreen;
    border: 1px solid rebeccapurple;
    color: white;
    flex-basis: 20%;
}

.flex-item-1 {
   
}

.flex-item-2 {
    
}

.flex-item-3 {

}

/*  ' * ' applicable to all elements*/
/* 'box-sizing: border-box' means all paddings and borders will be included in box width without making the box more wider*/
* {
    box-sizing: border-box;
}
/*'flex-shrink' shrinks boxes. Bigger the #nr smaller the box*/